<section class="container pt-5 pb-5">

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-create draw-border mb-5" routerLink="create">Add Player</button>
    </div>

    <div class="row g-4 mx-2 mx-sm-0">
        <div class="card-player col-12 col-md-6 col-lg-4" *ngFor="let player of players">
            <div class="card-body">
                <img class="card-img-top" src="{{player.img}}" alt="{{player.name}}">
                <div class="card-info mt-2">
                    <p><strong>Name: </strong> {{player.name}}</p>
                    <p><strong>Position: </strong> {{player.position}}</p>
                    <p><strong>Nationality: </strong> {{player.nationality}}</p>
                    <p><strong>Birth: </strong> {{player.birth}}</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <button type="button" class="btn btn-edit w-100 draw-border" routerLink="details/{{player.id}}">Edit</button>
                    <button type="button" class="btn btn-delete w-100 ms-2 draw-border" (click)="deletePlayer(player)">Delete</button>
                </div>  
            </div>
        </div>  
    </div>
</section>