<section class="container pt-5 pb-5">
    <div class="row gy-3">
        <div class="card-player col-12 col-sm-6 col-md-4" *ngFor="let player of players">
            <div class="card-body">
                <img class="card-img-top" src="{{player.img}}" alt="{{player.name}}">
                <p class="card-text"><strong>Name: </strong> {{player.name}}</p>
                <p class="card-text"><strong>Position: </strong> {{player.position}}</p>
                <p class="card-text"><strong>Nationality: </strong> {{player.nationality}}</p>
                <p class="card-text"><strong>Birth: </strong> {{player.birth}}</p>
                <div class="d-flex flex-row justify-content-start align-items-end">
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-danger ms-2">Delete</button>
                </div>  
            </div>
        </div>  
    </div>
</section>