.card-body{
    border: 4px solid black;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-player .card-body .card-info p{
    font-size: 1.25rem;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #000000;
    color: #000000;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover::before, .draw-border:hover::after {
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn{
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 1rem 2rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
}

.btn-save:hover {
    color: #3beb2bde;
}

.btn-save:hover::before, .btn-save:hover::after{
    border-color: #3beb2bde;
}

.btn-back:hover {
    color: #ff2828;
}

.btn-back:hover::before, .btn-back:hover::after{
    border-color: #ff2828;
}

label{
    font-weight: bold;
}

input, select{
    padding: .5rem;
}